/* GENERAL */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	background: url("../assets/img/background.jpg") left top no-repeat;
	background-size: 100%;
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 100;
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
	padding-top: 100px;
	flex-grow: 1;
}

main, footer {
	flex-shrink: 0;
}

a {
	text-decoration: none;
	color: green;
	border-bottom: 1px green dotted;
	transition: color 0.3s;
}

a:hover {
	color: orange;
}

/* HEADER */

header {
	position: fixed;
  top: 0;
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 10px;
	background-color: white;
	border-bottom: 1px black solid;
	font-family: 'Amatic SC', cursive;
}

h1 {
	margin: 0;
	color: orange;
	font-weight: normal;
	font-size: 48px;
	line-height: 48px;
}

nav p {
	display: inline;
	margin-left: 10px;
	margin-right: 30px;
	text-transform: lowercase;
	font-size: 36px;
	line-height: 48px;
}

nav p a {
	color: black;
	border: 0;
}

/* BLOG */

.preview-post {
	background-color: white;
	margin: 10px auto 30px auto;
	width: 800px;
	padding: 10px 20px 30px 20px;
	border-radius: 10px;
	border: 1px green dotted;
}

.preview-image {
	height: 300px;
	width: 100%;
	object-fit: cover;
	transition: filter 0.3s;
}

.preview-image-a {
	border: 0;
}

.preview-image:hover {
	filter: opacity(50%);
}

.post-title {
	font-size: 24px;	
}

.post-date {
	font-size: 14px;
	margin: 0 0 0 20px;
}

.post-more a {
	font-size: 18px;
}

/* PAGINATION */

.pagination {
	text-align: center;
	margin: 20px auto 20px auto;
}

.pagination a, .pagination span {
	margin: 6px;
}

/* POST */

#post {
	background-color: white;
	margin: 10px auto 30px auto;
	width: 800px;
	padding: 10px 20px 30px 20px;
	border-radius: 10px;
	border: 1px green dotted;
}

/* PORTFOLIO */

#portfolio {
	text-align: center;
	width: 600px;
	margin: 10% auto 0 auto;
	font-size: 24px;
	background-color: white;
	border: 1px green dotted;
	padding: 30px;
	border-radius: 10px;
}

#portfolio p {
	margin: 0;
}

#portfolio-link {
	margin: 20px 0 0 0;
}

#portfolio a {
	text-align: center;
	margin: 30px auto 0 auto;
}

/* CONTACT */

#contact {
	text-align: left;
	width: 700px;
	margin: 10% auto 0 auto;
	font-size: 24px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	line-height: 30px;
	border: 1px green dotted;
}

#contact p {
	margin: 0;
}

#contact-links {
	margin: 20px 0 0 0;
}

#contact-links p {
	font-size: 20px;
	margin: 0px 10px 0px 0px;
	line-height: 36px;
}

.contact-icon {
	width: 20px;
	fill: green;
	margin: 0 10px 0 10px;
}

/* FOOTER */

footer {
	background-color: #212121;
	position: relative;
  left: 0;
  bottom: 0;
	width: 100%;
	text-align: center;
	padding: 30px 0 20px 0;
	margin: 50px 0 0 0;
	display: flex;
  flex-flow: column wrap;
	align-items: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.footer-p {
	margin: 5px;
}

.footer-a {
  color: #CFD8DC;
	border: 0;

}

.footer-icon {
  width: 30px;
  fill: #CFD8DC;
	margin: 0 5px 0 5px;
	transition: color 0.3s;
}

.footer-icon:hover {
	fill: orange;
}

/* UP */

#up {
	position: fixed;
  bottom: 40px;
	right: 30px;
	border: 1px green dotted;
	padding: 10px 20px 5px 20px;
	border-radius: 5px;
}

#up a {
	border: 0;
}

#up-icon {
  height: 40px;
	fill: green;
	transition: fill 0.3s;
}

#up-icon:hover {
	fill: orange;
}