/* GENERAL */

a {
	transition: color 0.3s;
}

a:hover {
	color: orange;
}

/* HEADER */

header {
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

h1 {
	font-size: 36pt;
}

h1 a:hover {
	color: green;
}

nav p {
	margin-left: 10px;
	margin-right: 30px;
	font-size: 36pt;
}

/* BLOG */

.preview-post {
	margin: 10px auto 30px auto;
	max-width: 1000px;
	border-radius: 10px;
	border: 1px green dotted;
}

.preview-image {
	transition: filter 0.3s;
}

.preview-image:hover {
	filter: opacity(50%);
}

/* PAGINATION */

/* POST */

#post {
	max-width: 800px;
	padding: 10px 20px 30px 20px;
}

/* LAST POSTS */

#last-posts {
	flex-flow: row nowrap;
}

.last-post-preview {
	margin: 10px;
	width: 30%;
}

.last-post-preview-image {
	transition: filter 0.3s;
}

.last-post-preview-image:hover {
	filter: opacity(50%);
}

/* PORTFOLIO */

#portfolio {
	max-width: 600px;
	border: 1px green dotted;
	padding: 30px;
	border-radius: 10px;
}

/* CONTACT */

#contact {
	max-width: 700px;
	padding: 30px;
	border-radius: 10px;
	border: 1px green dotted;
}

/* UP */

#up {
	display: block;
	position: fixed;
  bottom: 40px;
	right: 30px;
	border: 1px green dotted;
	padding: 10px 20px 5px 20px;
	border-radius: 5px;
	z-index: 1;
}

#up a {
	border: 0;
}

#up-icon {
	height: 40px;
	fill: green;
	transition: fill 0.3s;
}

#up-icon:hover {
	fill: orange;
}

/* FOOTER */

footer {
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-evenly;
}

#tags {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

#info {
	text-align: left;
}

.footer-icon {
	transition: color 0.3s;
}

.footer-icon:hover {
	fill: orange;
}