/* GENERAL */

body {
	margin: 0;
	background: url("../assets/img/background.jpg") left top no-repeat;
	background-size: 100%;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	color: orange;
}

/* HEADER */

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 10px;
	background-color: white;
	border-bottom: 1px black solid;
	font-family: 'Amatic SC', cursive;
}

h1 {
	margin: 0;
	color: orange;
	font-weight: normal;
	font-size: 48px;
	line-height: 48px;
}

nav p {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	text-transform: lowercase;
	font-size: 36px;
	line-height: 48px;

}

nav p a {
	text-decoration: none;
	color: black;
}

/* BLOG */

.preview-post {
	background-color: white;
	margin: 10px auto 10px auto;
	width: 800px;
}

/* PAGINATION */

.pagination a, .pagination span {
	padding: 7px 18px;
	border: 1px solid #eee;
	margin-left: -2px;
	margin-right: -2px;
	background-color: #ffffff;
	display: inline-block;
}

.pagination a:hover {
			background-color: #f1f1f1;
			color: #333;
}

.pagination {
	text-align: center;
}

/* PORTFOLIO */

#portfolio {
	text-align: center;
	width: 600px;
	margin: 10% auto 0 auto;
	font-size: 24px;
	background-color: white;
	border: 1px green dotted;
	padding: 30px;
	border-radius: 10px;
}

#portfolio p {
	margin: 0;
}

#portfolio-link {
	margin: 20px 0 0 0;
}

#portfolio a {
	text-align: center;
	text-decoration: none;
	margin: 30px auto 0 auto;
	border-bottom: 1px dotted;
}

/* CONTACT */

#contact {
	text-align: left;
	width: 700px;
	margin: 10% auto 0 auto;
	font-size: 24px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	line-height: 30px;
	border: 1px green dotted;
}

#contact p {
	margin: 0;
}

#contact-links {
	margin: 20px 0 0 0;
}

#contact-links p {
	font-size: 20px;
	margin: 0px 10px 0px 0px;
	line-height: 36px;
}

#contact a {
	border-bottom: 1px dotted;
}

.contact-icon {
	width: 20px;
	fill: green;
	margin: 0 10px 0 10px;
}

/* FOOTER */

footer {
	background-color: #212121;
	
  left: 0;
  bottom: 0;
	width: 100%;
	text-align: center;
	padding: 30px 0 20px 0;
	margin: 50px 0 0 0;
	display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.footer-p {
	margin: 5px;
}

.footer-a {
  color: #CFD8DC;
	text-decoration: none;
}

.footer-icon {
  width: 30px;
  fill: #CFD8DC;
	margin: 0 5px 0 5px;
	transition: color 0.3s;
}

.footer-icon:hover {
	fill: orange;
}