---
layout: home
title: Ирина Иванова | Блог
---

<main id="blog">

	<div id="posts">

		{% include pagination.html %}
	
		{% for post in paginator.posts %}
		<div class="preview-post">
			<a class="preview-image-a" href="{{ post.url }}"><img class="preview-image" src="{{ site.url }}/assets/post-images/{{post.date | date: '%Y-%m-%d' }}/preview.jpg" alt="Илюстрация поста"></a>
			<p class="post-title"><a href="{{ post.url }}">{{ post.title }}</a>
				<span class="preview-post-date-tag">/ {{ post.date | date: "%-d.%m.%Y" }} / 
					{% for tag in post.tags %}
						<a href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a>
					{% endfor %}
				</span>
			</p>
			<div class="post-content">{{ post.excerpt }}</div>
			<p class="post-more"><a href="{{ post.url }}">читать дальше</a></p>
		</div>
		{% endfor %}

		{% include pagination.html %}

	</div>

	{% include up.html %}

</main>