<div id="tags">
  <span class="tag" style="text-align: left;"><a href="{{ site.url }}">все</a></span>
  <span class="tag" style="text-align: right;"><a href="/tag/diy">diy</a></span>
  <span class="tag" style="text-align: right;"><a href="/tag/child">ребёнок</a></span>
  <span class="tag" style="text-align: right;"><a href="/tag/investment">инвестиции</a></span>
  <span class="tag" style="text-align: right;"><a href="/tag/vinyl">винил</a></span>
  <span class="tag" style="text-align: right;"><a href="/tag/travel">путешествия</a></span>
</div>