<header>
    <div style="
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e17055;
    width: 100%;
    text-align: center;
    font-size: 24pt;
    color: #2d3436;
    padding: 10px;
    z-index: 1;">
      Этот блог законсервирован и больше не обновляется. Все посты переехали на <a href="https://irina-ivanova.eu/">irina-ivanova.eu</a> 
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 55">
      <text class="header-letter" x="10" y="40" font-size="40" transform="rotate(-30) translate(-7,8)">C</text>
      <text class="header-letter" x="35" y="40" font-size="30" transform="rotate(-10) translate(-10,-6)">o</text>
      <text class="header-letter" x="48" y="40" font-size="30" transform="rotate(10) translate(1,-18)">g</text>
      <text class="header-letter" x="63" y="40" font-size="30" transform="rotate(-10) translate(-8,1)">n</text>
      <text class="header-letter orangle-letter" x="77" y="40" font-size="30" transform="rotate(5) translate(-3,-15)">i</text>
      <text class="header-letter" x="84" y="40" font-size="30" transform="rotate(-1) translate(-5,-6)">t</text>
      <text class="header-letter orangle-letter" x="92" y="40" font-size="30" transform="rotate(20) translate(-4,-43)">i</text>
      <text class="header-letter" x="99" y="40" font-size="30" transform="rotate(-10) translate(-12,10)">o</text>

      <text class="header-letter" x="125" y="40" font-size="40" transform="rotate(10) translate(-5,-30)">L</text>
      <text class="header-letter orangle-letter" x="148" y="40" font-size="30" transform="rotate(-20) translate(-33,34)">i</text>
      <text class="header-letter" x="155" y="40" font-size="30" transform="rotate(20) translate(-13,-55)">b</text>
      <text class="header-letter" x="170" y="40" font-size="30" transform="rotate(-10) translate(-23,20)">e</text>
      <text class="header-letter" x="182" y="40" font-size="30" transform="rotate(-5) translate(-18,8)">r</text>

      <text id="header-description" font-size="3" transform="translate(110,35) rotate(10)">книго-ориентированный блог</text>
    </svg>
</header>
