.DS_Store
sys
_site
Gemfile.lock
assets/post-images/preview.jpg

_posts/2016-01-01-book-of-kells.html
assets/post-images/2016-01-01

_posts/2016-01-03-erika.html
assets/post-images/2016-01-03

_posts/2016-01-04-manuscript.html
assets/post-images/2016-01-04
