---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style-768px.css" media="screen and (min-width:768px)">

		<link rel="alternate" type="application/rss+xml" title="Лента блога Ирины Ивановой" href="/atom.xml">

		<!-- Header Font -->
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>

		{% include header.html %}

		{{ content }}

		{% include footer.html %}