---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>

		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css ">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style-768px.css" media="screen and (min-width:768px)">
		<style>
			body {
				background-image: none;
			}
		</style>
		
		<link rel="manifest" href="{{ site.url }}/manifest.json">

		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/favicons/favicon-16x16.png">
		<link rel="mask-icon" href="{{ site.url }}/assets/favicons/safari-pinned-tab.svg" color="#FFFFFF">
		<meta name="theme-color" content="#FFFFFF">

		<!-- Header Font -->
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="{{ page.excerpt | strip_html }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.excerpt | strip_html }}">
		<meta property="og:image" content="{{ site.url }}/assets/post-images/{{ page.date | date: '%Y-%m-%d' }}/preview.jpg"/>
		<meta property="og:locale" content="ru-RU"/>

	</head>
	<body>

		{% include header.html %}

		<main>

    	<div id="post">
				<img id="post-image" src="../../../assets/post-images/{{page.date | date: '%Y-%m-%d' }}/preview.jpg" alt="Иллюстрация поста"/>
				<h2>{{ page.title }}</h2>
				<span class="post-date-tag">/ {{ page.date | date: "%-d.%m.%Y" }} / 
					{% for tag in page.tags %}
						<a href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a>
					{% endfor %}
				</span>
      	<div id="post-content">
        	{{ content }}
				</div>
				
				<div class="post-tags">
					{% for tag in page.tags %}
						<a href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a>
					{% endfor %}
				</div>

			</div>

			<hr/>

			<div id="last-posts">
				{% for post in site.posts limit:3 %}
				<div class="last-post-preview">
					<a class="last-post-preview-a" href="{{ post.url }}"><img class="last-post-preview-image" src="../../../assets/post-images/{{post.date | date: '%Y-%m-%d' }}/preview.jpg" alt="Иллюстрация поста"></a>
					<p class="last-post-title"><a href="{{ post.url }}">{{ post.title }}</a></p>
				</div>
				{% endfor %}
			</div>
			
			{% include up.html %}

		</main>

		{% include footer.html %}