---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css ">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

	</head>
	<body>

    <div id="back">
      <a id="back-a" href="{{ site.url }}" title="Назад в блог">&lt; Назад в блог</a>
    </div>

		<main>
    	<div id="post">
      	<h2>{{ page.title }}</h2>
				<div id="post-info">
					<span class="post-info-span">Опубликовано: {{ page.date | date: "%-d.%m.%Y" }}</span>
					<span class="post-info-span">Категории: {{ page.categories | join: ", " }}</span>
				</div>

      	<div id="post-content">
        	{{ content }}
      	</div>
    	</div>
		</main>

    {% include footer.html %}